@import "tailwindcss"; html, body, #root { height: 100%%; } body { font-family: "Open Sans", Arial, sans-serif; background-color: #f3f6fb; color: #334155; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
